.cart-container {
  border-bottom: 2px solid red;
  display: flex;

  justify-content: space-between;
  align-items: center;
  max-height: 6rem;
  margin: 1rem 1rem 1rem 0;
  padding-left: 0;
}
.div1 {
  display: flex;
  border: 2px solid black;
}
.h2div {
  height: 1.25rem;
}

.div2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0;
  height: 1.25rem;
  margin: 0.25rem;
}

.div3 {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.quantity {
  background-color: antiquewhite;
  height: max-content;
}
h4 {
  color: red;
}
.name {
  display: flex;
  margin: 0;
  padding: 0;

  height: 3rem;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.btn{
    border: 1px solid burlywood ;
    border-radius: 0.5rem;
    margin: 0.75rem;
    font-size: large;
    height: 2rem;
    width: 2.5rem;
}