.button-div{
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem;
}

.button{
    background-color: brown;
    color: wheat;
    font-size: large;
    border-radius: 8px;
    margin: 0.75rem;
}

.total {
    padding: 0;
    height: 2.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    border: 2px solid black;
    border-radius: 0.75rem;

}

.list{
    overflow-y: scroll;
    min-height: 6rem;
    
}