.container {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  flex-direction: row;
}
.text {
  color: wheat;
  flex-basis: auto;
  text-align: left;
  margin-left: 3rem;
}
@media screen and (max-width:640px) {
  .container{
    flex-direction: column;
    justify-content: center;
  }
  .text{
    display: flex;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
}



.cart {
  background-color: rgb(74, 24, 24);
  color: wheat;
  margin-right: 10rem;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 19rem;
  border-radius: 3rem;
}
.child-icon {
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.child-text {
  align-self: center;
  margin: 1rem 2.5rem 1rem 0.5rem;
  height: 2rem;
  max-width: 10rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.counter {
  border-radius: 6rem;
  background-color: brown;
  font-size: larger;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 2rem;
  width: 3rem;
  display: flex;
}

.photo-box{
  height:10rem ;
  background-color: rgb(78, 78, 78);
}
.photo {
  height: 10rem;
  width: 100%;
}
