.quantity-input {
  width: 3rem;
  height: 1.25rem;
  border-radius: 0.5rem;
  display: inline;
  justify-content: end;
  padding-left: 0.25rem;
}

.quantity-label {
  font-size: 1rem;
  font-weight: 500;
  display: inline;
  margin-right: 0.4rem;
}

.quantity-button {
  background-color: brown;
  color: wheat;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  width: 5rem;
  display: inline;
  margin-left: 0.7rem;
}

.quantity-form {
  align-items: center;
}

@media screen and (max-width:600px) {
  .quantity-form{
    display: flex;
    flex-direction: row;
  }
}
